html {
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
  }

body {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    max-height: 100vh;
    background: #5D6D7E;
    color: #212F3D;
}

.gameboard {
    width: 97%;
    max-width: 420px;
    height: 80vh;
    max-height: 600px;
    margin: 5vh auto;
    box-sizing: border-box;
    display: flex;   
    flex-flow: column nowrap;  
    justify-content: space-between;
    background-color: red;
    box-shadow:
            0 .25em 1em 0 rgba(0,0,0,0.30),
            inset .25em .25em 1em 0 hsl(360, 88%, 72%),
            inset .15em .15em .2em 0 hsl(360, 88%, 72%),
            inset -.25em -.25em 1em 0 hsl(360, 88%, 22%),
            inset -.15em -.15em .2em 0 hsl(360, 88%, 2%);
    border-radius: 1.2em;
    padding: 20px 2px;
    transition: all 3.5s ease-in;
}

.gameboard__menu {
    width: 85%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    margin: 10px auto 5px;
    padding: 10px;
    height: 50px;
    border-radius: 1.2em;
    background-color: rgba(231, 76, 60, 0.7) ;
}

.gameboard__menu__timer,
.gameboard__menu__movesCounter {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    color: white;
}

.update-bcg {
    width: 30px;
    height: 30px;
    color: white;
    margin: 10px 5px;
    cursor: pointer;
}

.gameboard__menu__fieldSizeSelect {
    width: 85%;
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
    align-content: center;
    margin: 10px auto 5px;
}


.overlay {
    width: 100vh;
    height: 100vh;
    z-index: 1;
    display: hidden;
    background: rgba(0, 0, 0, 0.5);
}

 
.gameboard__puzzle {
    width: 97%;  
    height: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gameboard__puzzle__tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 1px;
    background-color: #ABB2B9;
    cursor: default;
    border-radius: 5%;
    max-width: 93px;
}

.clickable {
    cursor: pointer;
}

.standart-size {
    width: 24%;
    height: 24%;
}

.small-size {
    width: 33%;
    height: 33%;
}

.medium-size {
    width: 19%;
    height: 19%;
}

.large-size {
    width: 16%;
    height: 16%;
}

.extra-large-size {
    width: 13%;
    height: 13%;
}

.extra-extra-large-size {
    width: 11%;
    height: 11%;
}

.empty {
   cursor: default;
   background-color: red;
   color: red;
}

@media (max-width: 430px) {
    html {
        font-size: 14px;
    }
}
  

